@import "tailwindcss";

:root {
  --bg: #090909;
  --gold: #c8a46b;
  --text: #f5f1eb;
  --muted: #c8c8c8;

  --font-heading: serif;
  --font-body: serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  letter-spacing: -0.03em;
}

.container {
  width: min(1700px, 94%);
  margin: auto;
}

::selection {
  background: var(--gold);
  color: white;
}